.catalog-extra {
  padding: 25px 20px 30px;

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
    padding-bottom: 74px;
    display: grid;
    grid-template-rows: 117px 288px;
    grid-template-columns: 1fr 245px;
  }
}

.catalog-extra__title {
  @include fonts(24px, 24px);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 48px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 53px;
    right: -20px;
    bottom: 8px;
    border-bottom: 2px solid $background-color;
  }

  @media (min-width: $tablet-width) {
    @include fonts(36px, 36px);
    margin-left: 38px;
    margin-bottom: 105px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      left: -68px;
      bottom: 13px;
      border-bottom: 2px solid $background-color;
    }

    &::after {
      width: 328px;
      right: -30px;
      bottom: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    grid-row: 1/2;

    &::before {
      width: 70px;
      bottom: -12px;
      left: -110px;
    }

    &::after {
      width: 957px;
      right: -355px;
      bottom: -12px;
    }
  }
}

.catalog-extra__list {
  @include reset-list;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin-right: 38px;
    margin-left: 38px;
    margin-bottom: 44px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 708px;
      height: 556px;
      left: -38px;
      bottom: 25px;
      border: 1px solid $border-example-color;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 23px;
    grid-row: 2/3;
    grid-column: 1/2;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }
}

.catalog-extra__item {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -17px;
    border-bottom: 1px solid $border-example-color;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::after {
      bottom: 25px;
      width: 708px;
      left: -38px;
    }
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    width: 896px;
    margin-bottom: 25px;

    &::after {
      width: 896px;
      left: 0;
      bottom: -1px;
    }
  }
}

.catalog-extra__item:first-child {
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: -13px;
    border-bottom: 1px solid $border-example-color;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: block;
      width: 896px;
      top: -27px;
    }
  }
}

.catalog-extra__item:last-child {
  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      display: block;
    }
  }
}

.catalog-extra__heading {
  @include fonts(16px, 16px);
  color: $color-heading-for-catalog;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    min-width: 161px;
  }
}

.catalog-extra__table {
  @include fonts(14px, 14px);
  font-family: $font;
  margin-bottom: 11px;
  margin-left: -3px;
  width: 102%;

  @media (min-width: $tablet-width) {
    @include fonts(16px, 20px);
    width: 228px;
    margin-top: -6px;
  }

  @media (min-width: $desktop-width) {
    width: 293px;
    margin-left: 126px;
  }
}

.catalog-extra__item:nth-child(2) .catalog-extra__table {
  @media (min-width: $tablet-width) {
    width: 162px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    margin-left: 115px;
  }
}

.catalog-extra__item:nth-child(3) .catalog-extra__table {
  @media (min-width: $tablet-width) {
    width: 144px;
  }

  @media (min-width: $desktop-width) {
    width: 292px;
    margin-left: 123px;
  }
}

.catalog-extra__item:nth-child(4) .catalog-extra__table {
  @media (min-width: $tablet-width) {
    width: 219px;
  }

  @media (min-width: $desktop-width) {
    width: 292px;
    margin-left: 126px;
  }
}

.catalog-extra__cell {
  width: 135px;

  @media (min-width: $tablet-width) {
    width: 35px;
  }
}

.catalog-extra__cell-price {
  text-align: right;
}

.catalog-extra__button {
  font-size: 16px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    width: 651px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 53px;

    &:hover {
      background-color: $button-hover;
    }

    &:focus {
      color: $button-focus;
    }
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
    margin-top: -24px;
  }
}

.catalog-extra__offer {
  min-height: 290px;
  background-image: url("../../img/catalog/background-cat.jpg");
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../img/svg/icon-gift-mobile.svg");
    width: 78px;
    height: 80px;
    top: 57px;
    left: 78px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../../img/catalog/background-cat-tablet.jpg");
    min-height: 200px;
    align-items: center;

    &::before {
      background-image: url("../../img/svg/icon-gift-tablet.svg");
      width: 80px;
      height: 82px;
      top: 57px;
      left: 78px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 290px;
    align-items: flex-end;
    background-image: url("../../img/catalog/background-cat.jpg");
    grid-row: 2/3;
    grid-column: 2/3;

    &::before {
      top: 54px;
      left: 82px;
    }
  }
}

.catalog-extra__offer-text {
  @include fonts(16px, 20px);
  font-family: $font;
  width: 192px;
  margin-bottom: 42px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  color: $main-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 177px;
    margin-right: 108px;
    margin-left: auto;
    margin-top: 3px;
    margin-bottom: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 167px;
    margin-bottom: 46px;
    margin-right: auto;
    text-align: center;
  }
}
