.example {
  padding: 25px 20px 40px;
  background-color: $background-catalog;
}

.example__title {
  @include fonts(36px, 40px);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}

.example__text {
  @include fonts(14px, 18px);
  color: $color-for-text;
  margin-top: 0;
  margin-bottom: 20px;
  width: 231px;
}

.example__lists {
  margin-bottom: 20px;
}

.example__list {
  margin: 0;
}

.example__number {
  @include fonts(24px, 24px);
}

.example__description {
  @include fonts(12px, 12px);
  margin-left: 0;
  width: 65px;
  text-align: center;
  color: $color-for-text;
}

.example__value {
  @include fonts(14px, 20px);
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.example__img {
  margin-bottom: 15px;
}

.example__img-after {
  display: none;
}

.example__button {
  @include fonts(16px, 20px);
  text-transform: uppercase;
  border: none;
}
