.footer {
  padding: 28px 20px 22px;
}

.footer__contact {
  margin-bottom: 26px;
}

.footer__invite {
  @include fonts(16px, 20px);
  color: $color-for-footer;
  text-transform: uppercase;
  width: 140px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__address {
  @include fonts(14px, 20px);
  color: $color-for-text;
  font-style: normal;
  width: 140px;
}

.footer__logo-wrp {
  text-align: center;
  margin-bottom: 52px;
}

.footer__social-list {
  @include reset-list;
  margin-bottom: 43px;
}

.footer__copyright-link {
  @include fonts(16px, 18px);
  color: $color-for-text;
}
