.intro {
  color: $main-color;
  background-image: url("../../img/main/background-cat.jpg");
  background-repeat: no-repeat;
  padding-top: 28px;
  padding-left: 19px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    background: none;
    color: $color-for-headings;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    overflow: hidden;
    position: relative;
    padding-left: 110px;
    padding-bottom: 82px;
    padding-top: 0;
    background-image: url("../../img/main/background-cat-desktop.jpg");
    background-position-x: 100%;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-size: 720px auto;
      background-image: url("../../img/main/background-cat-desctop@2x.jpg");
    }
  }
}

.intro::after {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    width: 50%;
    height: 400px;
    position: absolute;
    background-image: url("../../img/main/background-cat-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    left: auto;
    z-index: -1;
  }
}

.intro__title {
  @include fonts(36px, 36px);
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include fonts(60px, 60px);
    width: 415px;
    margin-left: 87px;
    text-align: left;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-top: 223px;
  }
}

.intro__slogan {
  @include fonts(14px, 14px);
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 20px);
    text-align-last: left;
    margin-left: 87px;
    margin-bottom: 20px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 21px;
  }
}

.intro__img {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    order: 4;
    margin-top: -40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -142px;
    margin-right: 153px;
  }
}

.intro-buy {
  outline: none;

  @media (min-width: $tablet-width) {
    @include fonts(20px, 30px);
    cursor: pointer;
    margin-left: 87px;
    order: 3;
    width: 245px;
    height: 55px;
    padding-top: 14px;
    padding-bottom: 14px;
    z-index: 10;
    margin-top: 29px;
  }

  &:hover {
    background-color: $button-hover;
  }

  &:focus {
    color: $button-focus;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
