.main-catalog {
  padding: 20px 20px 10px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}

.main-catalog__list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

.main-catalog__item {
  background-color: $background-catalog;
  padding: 30px 20px 22px;

  @media (min-width: $tablet-width) {
    padding: 75px 53px 56px 53px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 76px 53px 55px;
  }
}

.main-catalog__item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}


.main-catalog__title {
  @include fonts(24px, 37px);
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 29px;
  margin-left: 11px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet-width) {
    @include fonts(36px, 36px);
    text-align-last: left;
    margin-left: 0;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 161px;
    margin-bottom: 74px;
  }
}

.main-catalog__title-weight {
  margin-left: 39px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 161px;
    margin-bottom: 74px;
  }
}

.main-catalog__slim .main-catalog__title::before {
  content: "";
  position: absolute;
  display: block;
  width: 52px;
  height: 53px;
  background-image: url("../../img/svg/icon-cat-black.svg");
  background-repeat: no-repeat;
  left: -9px;
  top: -10px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/svg/icon-black-cat-tablet.svg");
    width: 200px;
    height: 211px;
    left: auto;
    right: 10px;
    top: 4px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/svg/cat-back-desktop.svg");
    width: 100px;
    height: 106px;
    right: auto;
    left: -161px;
    top: -37px;
  }
}

.main-catalog__pro .main-catalog__title::before {
  content: "";
  position: absolute;
  display: block;
  width: 67px;
  height: 53px;
  background-image: url("../../img/svg/icon-black-panther.svg");
  background-repeat: no-repeat;
  left: -47px;
  top: -8px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/svg/icon-black-panther-tablet.svg");
    width: 268px;
    height: 200px;
    left: auto;
    right: -24px;
    top: 18px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/svg/icon-black-panther-desktop.svg");
    width: 135px;
    height: 100px;
    right: auto;
    left: -182px;
    top: -29px;
  }
}

.main-catalog__text {
  @include fonts(14px, 18px);
  font-family: $font;
  color: $color-for-text;
  margin-top: 0;
  margin-bottom: 40px;
  width: 227px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 240px;
    border-bottom: 1px solid $border-catalog-color;
    left: 0;
    bottom: -22px;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    @include fonts(16px, 24px);
    width: 344px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 471px;
    margin-bottom: 27px;
  }
}

.main-catalog__choose {
  @include fonts(16px, 16px);
  color: $color-for-headings;
  text-transform: uppercase;
  position: relative;
  outline: none;

  &:active {
    color: $color-menu-focus;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 44px;
    background-image: url("../../img/svg/arrow.svg");
    background-repeat: no-repeat;
    right: -47px;
    top: 6px;

    @media (min-width: $tablet-width) {
      right: -56px;
      top: 8px;
    }
  }

  @media (min-width: $tablet-width) {
    @include fonts(20px, 30px);
  }
}

.main-catalog__choose:hover::after {
  background-image: url("../../img/svg/arrow-long.svg");
}

.main-catalog__choose:focus::after {
  background-image: url("../../img/svg/arrow-long.svg");
}

.main-catalog__choose:active::after {
  opacity: 0.3;
}
