.nav {
  padding-left: 49px;
  padding-right: 49px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    padding: 0;
  }
}

.nav__button-toggle {
  border: none;
  background: none;
  position: absolute;
  top: -65px;
  right: 0;
  display: block;
  width: 24px;
  height: 16px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--closed .nav__button-toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 26px;
  height: 2px;
  background-color: $color-for-headings;
  box-shadow: 0 8px 0 0 $color-for-headings, 0 16px 0 0 $color-for-headings;
}

.nav--opened .nav__button-toggle {
  top: -65px;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 24px;
    right: 20px;
    width: 26px;
    height: 2px;
    background-color: $color-for-headings;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.nav--nojs .nav__button-toggle {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .nav--closed .nav__item {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .nav--closed .nav__list {
    padding: 0;
  }
}

.nav--opened {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 10;
    width: 100%;
    min-height: 31vh;
    background-color: $main-color;
  }
}

.nav__list {
  @include reset-list;
  @include fonts(20px, 20px);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;


  @media (max-width: $mobile-width-only) {
    padding-top: 23px;
  }

  @media (min-width: $tablet-width) {
    @include fonts(18px, 24px);
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    @include fonts(20px, 30px);
  }
}

.nav__item {
  margin-bottom: 46px;
  position: relative;

  &:hover {
    color: $color-menu-hover;
  }


  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.nav__item .nav__link:hover {
  color: $color-menu-hover;
}

.nav__item .nav__link:focus {
  color: $color-menu-focus;
}

.nav__item .nav__link:active {
  color: $color-for-headings;
  border-bottom: 2px solid $background-color;
}

.nav__item--active {
  @media (min-width: $tablet-width) {
    color: $color-for-headings;
    border-bottom: 2px solid $background-color;
  }
}

.nav__item-index--active {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $main-color;
  }
}

.nav__item .nav__link-only-index:hover {
  @media (min-width: $desktop-width) {
    color: $index-hover;
  }
}

.nav__item .nav__link-only-index:focus {
  @media (min-width: $desktop-width) {
    color: $button-focus;
  }
}

.nav__item .nav__link-only-index:active {
  @media (min-width: $desktop-width) {
    color: $main-color;
    border-bottom: 2px solid $main-color;
  }
}

.nav__item:first-child::before {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  border-bottom: 1px solid $border-color;
  left: -49px;
  top: -24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.nav__item::after {
  content: "";
  position: absolute;
  display: block;
  width: 320px;
  border-bottom: 1px solid #e6e6e6;
  left: -49px;
  bottom: -24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 34px;
  }
}

.nav__item:last-child {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.nav__link {
  color: $color-for-headings;
  outline: none;
}

.nav__link-only-index {
  @media (min-width: $desktop-width) {
    color: $main-color;
  }
}
