$color-for-headings: #000000;
$color-for-footer: #111111;
$color-for-text: #444444;
$main-color: #ffffff;
$background-color: #68b738;
$background-catalog: #f2f2f2;
$color-heading-for-catalog: #222222;
