$color-for-headings: #000000;
$color-for-footer: #111111;
$color-for-text: #444444;
$main-color: #ffffff;
$background-color: #68b738;
$background-catalog: #f2f2f2;
$color-heading-for-catalog: #222222;
$border-color: #e6e6e6;
$border-catalog-color: #d9d9d9;
$border-example-color: #cdcdcd;
$border-color-form: #e7e7e7;

$tablet-width: 768px;
$desktop-width: 1440px;
